.BarreAjoutTache {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 60%;
    padding: 1rem;
    color: white;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

::placeholder {
    color: white;
}

.icone-envoi {
    color: var(--clr-orange);
}